body {
	margin: 0;
	padding: 0;
  background-color: #d1d1e0;
	text-align: justify;
	font-family: "Courier New", Courier,cursive;
	padding: 20px;

}
img {
  border-radius: 50%;
}


.menu {
	margin: 0;
	width: 100%;
	padding: 10px;
	background: #993300;
	background:url(https://coolbackgrounds.io/images/backgrounds/index/sea-edge-79ab30e2.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	min-height: 10vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
	border-bottom: 3px solid #d1d1e0;
	flex-wrap: wrap;
}

.menu-link {
	text-decoration: none;
	font-size: 2em;
	/* text-transform: uppercase; */
	font-weight: 300;
	font-family: "Courier New", Courier,cursive;
	color: black;

    transition: all 1s ease-out;
}

.menu-item {
	height: 3em;
	align-self: center;
	margin: 5px;
}

.title-wrapper {
	margin: 0;
	padding: 10px;
}

.title {
	margin: 0;
	width: 100%;
	font-weight: 1200;
	font-family: Courier sans-serif;
	color: black;
	text-transform: uppercase;
	font-size: 3em;
	font-style: bold;
	text-align: center;

    transition: color 1s ease-out;
}
div {
    text-align:center;
}

.image {
	width: 100%;

}

.title:hover {
    color: #d1d1e0;
}

.menu-link:hover {
    color: #ffffff;
    font-size: 3.5em;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.container {
  position: relative;
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center it */
}

.container .content {
  position: sticky; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 10px; /* Some padding */
}
color: black;
}

/* Create two columns/boxes that floats next to each other */
nav {
float: left;
width: 20%;
height: 1500px;
background: #d1d1e0;
padding: 20px;
}
.footer {
  text-align: center;
  padding: 10px;
}



/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
* {
	box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #45a049;
}

/* Style the container/contact section */
/* .container {
	border-radius: 5px;
	background:url(https://coolbackgrounds.io/images/backgrounds/index/sea-edge-79ab30e2.png);
	padding: 10px;
} */

/* Create two columns that float next to eachother */
.column {
	float: left;
	width: 50%;
	margin-top: 6px;
	padding: 20px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.column, input[type=submit] {
		width: 100%;
		margin-top: 0;
	}
}
